### 하나의 셀에 콤마로 나누어진 데이터 나누기

In [1]:
import pandas as pd

#### 1. 연습용 데이터 생성

In [4]:
df = pd.DataFrame({'words': ['hello,world,python', 'git,commit,push']})
df

                words
0  hello,world,python
1     git,commit,push

#### 2. 콤마 단위로 분리

In [5]:
result = df['words'].str.split(',')
result

0    [hello, world, python]
1       [git, commit, push]
Name: words, dtype: object

#### 3. apply로 Dataframe으로 변환

In [7]:
result = result.apply(lambda x: pd.Series(x))
result

       0       1       2
0  hello   world  python
1    git  commit    push

#### 4. stack()을 활용해 컬럼을 행으로 바꿔줌
##### 멀티인덱스를 가진 series가 됨

In [8]:
result.stack()

0  0     hello
   1     world
   2    python
1  0       git
   1    commit
   2      push
dtype: object

In [10]:
result.stack().reset_index(level=1, drop=True)

0     hello
0     world
0    python
1       git
1    commit
1      push
dtype: object

#### 5. 데이터 프레임으로 변환

In [11]:
result = result.stack().reset_index(level=1, drop=True).to_frame('words')
result

    words
0   hello
0   world
0  python
1     git
1  commit
1    push

#### 6. 원본 데이터프레임과 다시 merging

In [12]:
result = df.merge(result, left_index=True, right_index=True, how='left')
result

              words_x words_y
0  hello,world,python   hello
0  hello,world,python   world
0  hello,world,python  python
1     git,commit,push     git
1     git,commit,push  commit
1     git,commit,push    push