### contains 함수 사용
#### 특정 키워드가 포함되어 있는 레코드 추출

In [1]:
import pandas as pd

In [10]:
dict_test = {
    'col1': [1, 2, 3, 4, 5, 6],
    'col2': ['서울특별시', '서울시', '인천광역시', '서울', '부산', '부산광역시']}
df_test = pd.DataFrame(dict_test)
df_test.head()

   col1   col2
0     1  서울특별시
1     2    서울시
2     3  인천광역시
3     4     서울
4     5     부산

In [11]:
s = df_test.loc[:, 'col2'] # 필요한 칼럼만 자르기
s = s.str.contains('서울+', case=False, regex=True) # Series에 있는 값 중 a가 1개 이상 포함되면 True return
s.head() # 서울이 포함된 레코드는 True 반환

0     True
1     True
2    False
3     True
4    False
Name: col2, dtype: bool

#### 키워드 '서울'을 포함하는 칼럼만 추출
#### - 인덱스 정보를 포함하고 있음

In [14]:
df_test = df_test.loc[s, :]
print(df_test)

   col1   col2
0     1  서울특별시
1     2    서울시
3     4     서울