### convert unix time to datetime

In [1]:
import datetime
import pandas as pd

In [2]:
dict_test = {
    'col1': [1, 2, 3, 4, 5, 6],
    'col2': [1627743638, 1627743652, 1627743653, 1627743638, 1627743676, 1627743652]}
df_test = pd.DataFrame(dict_test)
df_test.head()

   col1        col2
0     1  1627743638
1     2  1627743652
2     3  1627743653
3     4  1627743638
4     5  1627743676

### unit에 따라 시간이 달라짐
#### unit='s' 시분초까지

In [3]:
df_test['col2_time'] = pd.to_datetime(df_test['col2'], unit='s').apply(lambda x: x.to_datetime64())

In [4]:
df_test

   col1        col2           col2_time
0     1  1627743638 2021-07-31 15:00:38
1     2  1627743652 2021-07-31 15:00:52
2     3  1627743653 2021-07-31 15:00:53
3     4  1627743638 2021-07-31 15:00:38
4     5  1627743676 2021-07-31 15:01:16
5     6  1627743652 2021-07-31 15:00:52